html,
body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

.intro {
  top: 0;
  background: lightgray;
  min-height: 55vh;
  padding-top: 45vh;
}

.intro p {
  color: green;
}

nav ul {
  text-align: right;
  position: fixed;
  width: 100%;
  background-color: darkgray;
}

nav ul li {
  display: inline-block;
  margin: 55px;
  margin-bottom: 15px;
  margin-top: 25px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: green;
}
