html,
body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

.intro {
  top: 0;
  min-height: 55vh;
  padding-top: 35vh;
  background: no-repeat center/100% url('photo/timp.jpg');
}

.intro p {
  color: white;
}
.intro h1 {
    color: white;
    font-size: 50px;
}

nav ul {
  text-align: right;
  position: fixed;
  width: 100%;
  background-color: rgb(57, 59, 62);
  opacity: 80%;
}

nav ul li {
  display: inline-block;
  margin: 55px;
  margin-bottom: 15px;
  margin-top: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: skyblue;
}

/*------- button --------*/

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  height: 125px;
  padding-top: 20px;
}

.pokeButton {
  cursor: pointer;
  display: inline-block;
  background: no-repeat center/100% url('photo/Pokeball.png');
  border: none;
  width: 125px;
  height: 125px;
  color: transparent;
}

.pokeButton:hover{
  transform: scale(1.2);
}

/*----------------Card container Setup---------------------------*/
/* pokemonSection/container aligns all of the cards within the page */
.pokemonSection {
  display: flex;
  justify-content: space-evenly;
}

#container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 20px;
}
#legendaryContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 20px;
}

.typeSection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 20px;
  text-align: center;
}

/* ------------------ Card front/back setup ------------------- */

/* typeCard is created within final.js - assigns card to the type of pokemon
   similar setup to main pokeSection etc */
.typeCard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 15px;
}
/* card setup for when the card has been clicked/flipped */
.card.is-flipped {
  transform: rotateY(180deg);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card_face {
  flex-flow: column;
  backface-visibility: hidden;
}

/* styling for backside of pokemon card - background image is the Pokemon lettering/logo */
.card_face_back {
  height: 300px;
  width: 300px;
  background-image: url(photo/pokeLogo.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 5px;
  transform: rotateY(180deg);
  padding: 5;
  margin: 10;
  border: thick solid rgb(242,202,49);
  box-shadow: 0 15px 6px -6px #777;
  position: absolute;
  top: 0;
  bottom: 0px;
  background-color: darkgray;
  border-radius: 20px;
}

/* h3 - p4 styles the information on the backside of the card (attack, hp etc) */
.card_face_back h3 {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 75px;
  padding-left: 20px;
  display: flex;
}

.card_face_back p1 {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: red;
  color: white;
  display: flex;
  margin: 2px;
  border-radius: 20px;
  background-image: linear-gradient(-90deg, skyblue, darkblue);
}

.card_face_back p2 {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: blue;
  color: white;
  display: flex;
  margin: 2px;
  border-radius: 20px;
  background-image: linear-gradient(-90deg, yellow,red);

}
.card_face_back p3 {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: purple;
  color: white;
  display: flex;
  margin: 2px;
  border-radius: 20px;
  background-image: linear-gradient(-90deg, rgb(206,1,91),purple);

}
.card_face_back p4 {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: green;
  color: white;
  display: flex;
  margin: 2px;
  border-radius: 20px;
  background-image: linear-gradient(-90deg, rgb(61, 231, 70),darkgreen);

}

/* main container for the pokemon card - contains pokemon picture, caption, card face front */
figure {
  display: flex;
  flex-flow: column;
  margin: 10;
  padding: 5px;
  box-shadow: 0 10px 6px -6px #777;
  background-image: linear-gradient(180deg, lightblue, rgb(73,106,175));
  border: thick solid rgb(242,202,49);
  border-radius: 20px;
}

/* card hover hints that the card can be rotated and flipped over */
figure:hover{
  box-shadow: 0 15px 6px -6px #777;
  transform: rotateY(30deg);
  transition: transform .75s;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
  border-radius: 20px;

}

/* sets the size of the pokemon image on the front side of the card*/
img {
  width: 300px;
  height: 300px;
}

/*------Button Setup for both the type buttons and legendary bird button ---------*/

.button {
  font-size: 15px;
  width: 175px;
  height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  border: 2px solid #3c73ff;
  background-color: #3c73ff;
  border-radius: 20px;
  color: #fff;
  transition: .3s;
  margin-bottom: 10px;
  margin-top: 10px;
}
.button:hover {
  box-shadow: 5px 5px #99bdff;
  transition: .3s;
}

/*-----------------------Pokemon Type Sections-----------------------------------------*/

/* Styling/color for containers based on type - only visible after click */

#fireContainer {
  background-image: linear-gradient(yellow, red);
}
#waterContainer {
  background-image: linear-gradient(lightblue, darkblue)
}
#grassContainer {
  background-image: linear-gradient(lightgreen, darkgreen)
}
#rareContainer {
  background-image: linear-gradient(pink,purple)
}
