html,
body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: rgb(57, 59, 62);
}

* {
  margin: 0;
  padding: 0;
}

.intro {
  top: 0;
  min-height: 50vh;
  padding-top: 35vh;
  margin-bottom: 10px;
  background: no-repeat center/100% url('photo/timp.JPG');
  background: flip;
}

.intro p {
  color: white;
}
.intro h1 {
    color: white;
    font-size: 50px;
}

nav ul {
  text-align: right;
  position: fixed;
  width: 100%;
  background-color: black;
  opacity: 80%;
}

nav ul li {
  display: inline-block;
  margin: 55px;
  margin-bottom: 15px;
  margin-top: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: skyblue;
}
/*----------------*/

#aboutMe {
  color: white;
  margin-top: 30px;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 40px;
}

#aboutMe h2 {
  margin-bottom: 5px;
}
#aboutMe p {
  margin-bottom: 5px;
}

/*-----------*/
#logoSection {
  display: flex;
  justify-content: space-evenly;
}

.img{
  width: 250px;
  height: 250px;
}